.text-input {
    flex: 1;
    padding: 0.5rem;
    border: 2px solid #0095dd;
    border-radius: 0.25rem;
    transition: border-color 0.5s linear;
    color: #555;
    font-size: 1rem;

    &:focus {
        border-color: royalblue;
    }
}