$button-primary-color: #0095dd;
$button-secondary-color: crimson;

.button {
    padding: 0.5rem;
    border: 2px solid $button-primary-color;
    background-color: $button-primary-color;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition:
        border-color 0.5s linear, 
        background-color 0.5s linear;

    &:hover {
        border-color: $button-secondary-color;
        background-color: $button-secondary-color;
    }

    &--small {
        padding: 0.3rem;
        font-size: 0.8rem;
    }
}